
html {
  font-size: 16px;
  font-family: 'Sunflower', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Play', sans-serif;
}


h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.container {
  border: 1px grey;
}
/* nav bar */

.header-container {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  height: 4rem;
  min-width: 100%;
  background-color: #55bcc9;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-left: 24px;
  height: 2rem;
  padding-right: 0.5rem;
}

header span {
  font-size: 1.5rem;
}

#academy {
  font-weight: 300;
}

.desktop-menu ul li {
  display: inline-block;
  font-size: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease-out 0.05s;
}

.desktop-menu ul li:nth-child(4) {
  margin-right: 0.5rem;
}

.desktop-menu ul li:hover {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.header-container .mobile-menu {
  display: none;
}

@media only screen and (max-width: 760px) {


}



@media only screen and (max-width: 450px) {

.logo, .desktop-menu {
   display: none;
}

.mobile-menu {
    display: flex;
    width: 100%;
}

.mobile-menu ul li {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}


}


/* banner */

.banner {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.banner img {
  max-width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  max-width: 40%;
}

.banner h1 {
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: -0.1rem;
  padding-bottom: 1rem;
}

.banner h1:hover {
  color: #55bcc9;
}


.banner p {
  color: #ffffff;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 90%;

}

.banner .button {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #55bcc9;
  padding: 0.5rem;
  max-width: 80%;
  border-radius: 0.2rem;

}

.banner span {
  transition: all 0.5s ease-out 0.1s;
}

.banner span:hover {
  background-color: #f64c72;
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-width: 90%;
  max-height: 10rem;
}



@media only screen and (max-width: 450px) {

  .banner {
    display: flex;
    flex-direction: column;
  }

  }



/* information section */

.information {
  display: flex;
}


.main {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-right: 1pt solid #dcdcdc;
  flex: 1 1;
}

.main img {
  max-width: 100%;
}

.information h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.main p {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  max-width: 90%;
}

.secondary {
  max-width: 40%;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1;
  transition: color 0.5s ease-in 0.1s;
}

.secondary div:hover  {
 background-color: #55bcc9;
}

.secondary img {
  max-width: 35%;
  padding-right: 1rem;
}


.secondary p {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.orientation, .campus, .lecture {
  display: flex;
  align-items: center;
}

.orientation {
  padding: 0 1rem 1rem 1rem;
}

.campus {
  border-top: 1pt solid #dcdcdc;
  padding: 1rem;
}

.lecture {
 background-color: #55bcc9;
 padding: 1rem;
}

.secondary span {
font-weight: 700;
padding: 0.2rem 1rem;
background-color: #000000;
color: #ffffff;
border-radius: 0.1rem;
}

.secondary span {
  transition: all 0.5s ease-out 0.1s;
}

.secondary span:hover {
  background-color: #f64c72;
  font-size: 1.2rem;
  line-height: 1.4rem;
  max-width: 50%;
  max-height: 3rem;
}

.secondary img {
  max-width: 35%;
  padding-right: 1rem;
}

}
.info-text {
  max-width: 65%;
  padding-right: 1rem;
}

@media only screen and (max-width: 450px) {


}


  }


/* start learning */

.learning {
  background-color: #c2cad0;
}

.learning h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  transition: all 0.1s linear;
}

.learning h2:hover {
 color: #55bcc9;
 background-color: #000000;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding: 0 3rem 2rem 4.5rem;
}


.field {
  background-color: #ffffff;
  width: 30%;
  margin-bottom: 2rem;
  transition: all 1s ease-in-out 2s;
}

.field-text h3:hover {
 color: #55bcc9;
}

.field img:hover {
  max-width: 105%;
}

.field img {
align-self: center;
max-width: 100%;
}



.field-text {
  padding: 1rem;
}

.field h3 {
  padding-bottom: 0.5rem;
}


.field-text span {
  font-weight: 300;
}

.field-text p {
  padding-top: 0.5rem;
}




/* thesis */

.thesis h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all 0.1s linear;
}

.thesis h2:hover {
color: #55bcc9;
background-color: #000000;
}

.exhibit-container {
  display: flex;
  padding: 0 0 2rem 1.5rem;
}

.exhibita {
  max-width: 60%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  justify-content: flex-start;
}

.exhibita img {
  padding-bottom: 1.5rem;
}

.exhibita h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.exhibitb {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  transition: color 0.5s ease-in 0.1s;
}

.exhibitb div:hover  {
background-color: #55bcc9;
}

.exhibitb img {
  max-width: 35%;
  padding-right: 1rem;
  align-self: flex-start;
}

.prototype {
  background-color: #55bcc9;
  display: flex;
  padding: 1rem;
  margin-top: 0.5rem;
}

.nowandthen {
  display: flex;
  padding: 1rem;
  border: 1pt solid #c2cad0;

}

.exhibit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.exhibit-text h3 {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 450px) {

  }

/* footer */

footer {
  display: block;
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  color: #55bcc9;
  background-color: #000000;
  height: 2rem;
}

@media only screen and (max-width: 450px) {

  }
